<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<global>
		<test value="10000"/>
		<logDirectory value="log"/>
		<sha1key value="abcdef!@#$%6d2"/>
		<maxUser value="0"/>	
		<lan value="Config/language/"/>
		<zoneid value="1"/>
		<centerip value="0.0.0.0"/>
		<centerport value="27003"/>
	</global>
	<PlatformInfo id="20130001" name="PlatformName1">
		<mysql server="localhost" user="root" password="111111" database="act_platform_new" maxConn="1"/>
	</PlatformInfo>
	<ZoneInfo id="1" name="JesseTest" zoneopentime="2012-04-14 17:00:00"/>	
	<ServerList>
		<server type="RegServer" name="RegServer" ip="localhost" port="21001" portClient="21000"/>
		<mysql server="localhost" user="root" password="111111" database="act_platform_new"/>
	</ServerList>
	<GateServer>
		<mysql server="localhost" user="root" password="111111" database="act_user_data_new" maxConn="5"/>
	</GateServer>
	<RegServer>
		<mysql server="localhost" user="root" password="111111" database="act_platform_new" maxConn="1"/>
	</RegServer>
	<SuperServer>
		<mysql server="localhost" user="root" password="111111" database="act_user_data_new" maxConn="1"/>
	</SuperServer>
	<SessionServer>
		<mysql server="localhost" user="root" password="111111" database="act_user_data_new" maxConn="5"/>
	</SessionServer>
	<RecordServer>
		<mysql server="localhost" user="root" password="111111" database="act_user_data_new" maxConn="5"/>
	</RecordServer>
   <LogServer>
      <mysql server="localhost" user="root" password="111111" database="qjfml_log" maxConn="5"/>
   </LogServer>
</Config>
