<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<global>
		<test value="10000"/>
		<logDirectory value="log"/>
		<sha1key value="abcdef!@#$%6d2"/>
		<maxUser value="0"/>	
		<lan value="Config/language/"/>
		<zoneid value="1"/>
		<centerip value="0.0.0.0"/>
		<centerport value="27003"/>
	</global>
	<PlatformInfo id="20130001" name="PlatformName1">
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_platform_new" maxConn="1"/>
	</PlatformInfo>
	<ZoneInfo id="1" name="JesseTest" zoneopentime="2012-04-14 17:00:00"/>	
	<ServerList>
		<server type="RegServer" name="RegServer" ip="192.168.1.6" port="21001" portClient="21000"/>
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_platform_new"/>
	</ServerList>

	<GameServer>
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_user_data_new" maxConn="5"/>
	</GameServer>
	<WorldServer>
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_platform_new" maxConn="1"/>
	</WorldServer>
	<FriendServerC>
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_user_data_new" maxConn="1"/>
	</FriendServerC>
	<FriendServer>
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_user_data_new" maxConn="1"/>
	</FriendServer>
	<AllianceServerC>
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_user_data_new" maxConn="1"/>
	</AllianceServerC>
	<AllianceServer>
		<mysql server="192.168.1.6" user="root" password="gmy369" database="act_user_data_new" maxConn="1"/>
	</AllianceServer>
  <LoginServer>
    <mysql server="192.168.1.6" user="root" password="gmy369" database="act_user_data_new" maxConn="1"/>
  </LoginServer>

   <LogServer>
      <mysql server="192.168.1.6" user="6kyo" password="6kyo1qaz@WSX#EDC" database="qjfml_log" maxConn="5"/>
   </LogServer>

</Config>
